.container {
    display: flex;
    flex-direction: column;
}

.categoryName {
    display: block;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    position: relative;
}

.wrapper {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}